* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Prata", serif;
}
/* body font-family: 'Inter', sans-serif; */
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Prata", serif;
  align-items: center;
  padding: 0 9.6rem;
  margin-bottom: 4.8rem;
}
.container {
  padding: 4.8rem 0 0 0;
  background: #000;
}
.btn-logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}
.nav-box {
  list-style: none;
  display: flex;
  gap: 3.6rem;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.nav-link {
  font-size: 1.6rem;
  color: #ffffffc4;
  text-decoration: none;
  font-weight: 100;
}
.btn {
  text-decoration: none;
  font-size: 1.6rem;
}
.btn--nav {
  color: #000;
  border-radius: 2%;
  background: #ffdb3c;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
}
.section {
  padding: 9rem 0;
  margin-bottom: 4.8rem;
}
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 0 9.6rem;
}
.text-box-section-1 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: #fff;
  width: 50%;
}
.heading-primary {
  font-size: 4.8rem;
  font-weight: 400;
}
.dis-heading {
  font-weight: 200;
  font-size: 1.6rem;
  color: #ffffffa9;
  font-family: "Inter", sans-serif;
}
.logo-boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2 {
  display: flex;
  padding: 0 9.6rem;
  padding-top: 3.6rem;
  gap: 9.6rem;
}
.card {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2.4rem;
  justify-content: center;
}
.btn-card {
  text-decoration: none;
  font-size: 3.6rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.btn-card:is(:link, :visited) {
  color: #fff;
}
.dis-secondary {
  font-weight: 200;
  font-size: 1.6rem;
  color: #ffffffa9;
  font-family: "Inter", sans-serif;
}

.section-3 {
  display: flex;
  padding: 4.8rem 9.6rem;
  gap: 9.6rem;
  color: #fff;
  background: #333949;
}
.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
}
.dis-secondary-s3 {
  font-weight: 200;
  font-size: 1.6rem;
  color: #ffffffa9;
  font-family: "Inter", sans-serif;
}
.text-box-section-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}

.section-4 {
  padding: 4.8rem 9.6rem;
  gap: 9.6rem;
  color: #fff;
  background: #000000;
}
.text-box-section-4 {
  width: 46%;
}
.fix-1 {
  margin-bottom: 2.8rem;
}
.footer {
  padding: 1.8rem 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333949;
}
.footer-link-box {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}
